.scroll {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.responsive {
    width: 50%;
}

@media screen and (max-width: 1187px) {
    .responsive {
        width: 100%;
    }
}
