<div>
	<nav class="navbar navbar-dark bg-primary">
		<div class="container m-1">
			<a class="navbar-brand" routerLink="/home">
				<img src="./assets/chess_navbar.svg" width="30" height="30" class="d-inline-block align-top"
					 alt="">
				<span style="margin-left: 5px;">Chess service</span>
			</a>
		</div>
		<div>
			<div style="margin-right: 10px;" class="float-end">
				<button (click)="onProfileClick()"
						class="btn btn-outline-light fs-5"><i
						class="bi bi-person-circle"></i></button>
			</div>
			<div *ngIf="username&&role==='ADMIN'" style="margin-right: 10px;" class="float-end">
				<button routerLink="/admin" class="btn btn-outline-light fs-5">Admin panel</button>
			</div>
			<div *ngIf="username" style="margin-right: 10px; margin-left: 10px;" class="float-end">
				<button (click)="onLogOut()" routerLink="/home" class="btn btn-outline-light fs-5">Log Out</button>
			</div>
			<div *ngIf="!username" style="margin-right: 10px;" class="float-end">
				<button routerLink="/login" class="btn btn-outline-light fs-5">Log In</button>
			</div>
			<div *ngIf="!username" style="margin-right: 10px;margin-left: 10px;" class="float-end">
				<button routerLink="/signup" class="btn btn-outline-light fs-5">Sign Up
				</button>
			</div>
			<div style="margin-left: 10px;" class="float-end">
				<button routerLink="/home" class="btn btn-outline-light fs-5">Home
				</button>
			</div>
			<div *ngIf="username" style="margin-left: 10px;" class="float-end">
				<button routerLink="/game" class="btn btn-outline-warning fs-5">Go to game
				</button>
			</div>
		</div>
	</nav>
</div>


