<div class="justify-content-center">
	<div>
		<div>
			<div>
				<h1 style="text-align: center;">Login</h1>
			</div>
			<div class="margin-btm center">
				<label for="email">Email address</label>
				<input [(ngModel)]="email" id="email" type="text" class="form-control" placeholder="Enter email">
			</div>
			<div class="margin-btm center">
				<label for="password">Password</label>
				<input [(ngModel)]="password" id="password" type="password" class="form-control"
					   placeholder="Enter password">
			</div>
			<div *ngIf="error" class="margin-btm center">
				<p style="color: red;">Wrong Email or Password</p>
			</div>
			<div class="buttons center">
				<button (click)="onLogin()" style="width: 49%; margin-right: 2%;" type="button" class="btn btn-success">
					Log in
				</button>
				<button [routerLink]="['/signup']" style="width:49%;" type="button" class="btn btn-primary">Sign up
				</button>
			</div>
		</div>
	</div>
</div>
<!--<div class="m-5">-->
<!--	<div class="center">-->
<!--		<h1 style="text-align: center;">Login</h1>-->
<!--	</div>-->
<!--	<div class="margin-btm center">-->
<!--		<label for="email">Email address</label>-->
<!--		<input [(ngModel)]="email" id="email" type="text" class="form-control" placeholder="Enter email">-->
<!--	</div>-->
<!--	<div class="margin-btm center">-->
<!--		<label for="password">Password</label>-->
<!--		<input [(ngModel)]="password" id="password" type="password" class="form-control" placeholder="Enter password">-->
<!--	</div>-->
<!--	<div *ngIf="error" class="margin-btm center">-->
<!--		<p style="color: red;">Wrong Email or Password</p>-->
<!--	</div>-->
<!--	<div class="buttons center">-->
<!--		<button (click)="onLogin()" style="width: 58%; margin-right: 2%;" type="button" class="btn btn-success">Log in-->
<!--		</button>-->
<!--		<button [routerLink]="['/signup']" style="width:40%;" type="button" class="btn btn-primary">Sign up</button>-->
<!--	</div>-->
<!--</div>-->

