<!--<ul>-->
<!--	<li><a routerLink="/login" routerLinkActive="active">Login</a></li>-->
<!--	<li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>-->
<!--</ul>-->

<!--<router-outlet></router-outlet>-->

<p>Main component</p>
<img src="../../assets/figures/black/b_king.svg"/>
<img src="../../assets/figures/black/b_bishop.svg"/>
<img src="../../assets/figures/black/b_knight.svg"/>
<img src="../../assets/figures/black/b_pawn.svg"/>
<img src="../../assets/figures/black/b_queen.svg"/>
<img src="../../assets/figures/black/b_rook.svg"/>
<br/>
<img src="../../assets/figures/white/w_king.svg"/>
<img src="../../assets/figures/white/w_bishop.svg"/>
<img src="../../assets/figures/white/w_knight.svg"/>
<img src="../../assets/figures/white/w_pawn.svg"/>
<img src="../../assets/figures/white/w_queen.svg"/>
<img src="../../assets/figures/white/w_rook.svg"/>
