<div>
	<nav class="navbar navbar-dark bg-primary">
		<div class="container m-1">
			<a class="navbar-brand" routerLink="/home">
				<img src="./assets/chess_navbar.svg" width="30" height="30" class="d-inline-block align-top"
					 alt="">
				<span style="margin-left: 5px;">Chess service</span>
			</a>
		</div>
		<div>
			<div style="margin-right: 10px;" class="float-end">
				<button [routerLink]="['/profile',username]" class="btn btn-outline-light fs-5"><i
						class="bi bi-person-circle"></i></button>
			</div>
			<div *ngIf="username" style="margin-right: 10px;" class="float-end">
				<button (click)="onLogOut()" routerLink="/home" class="btn btn-outline-light fs-5">Log Out</button>
			</div>
			<div *ngIf="!username" style="margin-right: 10px;" class="float-end">
				<button routerLink="/login" class="btn btn-outline-light fs-5">Log In</button>
			</div>
			<div *ngIf="!username" style="margin-right: 10px;" class="float-end">
				<button routerLink="/signup" class="btn btn-outline-light fs-5">Sign Up
				</button>
			</div>
		</div>
	</nav>
</div>

<router-outlet></router-outlet>

<!--<app-home-page></app-home-page>-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;	<li><a routerLink="/login" routerLinkActive="active">Login</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;	<li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->

<!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
<!--&lt;!&ndash;<app-board></app-board>&ndash;&gt;-->
<!--&lt;!&ndash;<app-modify-account></app-modify-account>&ndash;&gt;-->
<!--&lt;!&ndash;<app-profile username="user1"></app-profile>&ndash;&gt;-->
<!--&lt;!&ndash;<app-user-list></app-user-list>&ndash;&gt;-->

