<div (click)="onPieceClick()" class="square" [ngStyle]="{'background':color}">
	<div *ngIf="spot!.getX()==0">
		<p class="topleft">{{spot!.getNotation()[1]}}</p>
	</div>

	<div *ngIf="spot!.getY()==7">
		<p class="bottomright">{{spot!.getNotation()[0]}}</p>
	</div>

	<div *ngIf="spot!.getX() == 0 && spot!.getY() == 7">
		<p class="topleft">{{spot!.getNotation()[1]}}</p>
		<p class="bottomright">{{spot!.getNotation()[0]}}</p>
	</div>

	<img *ngIf="!isEmptyFigure" class="piece"
		 src="/assets/figures/{{imageSrc}}" alt="{{imageSrc}}"/>
</div>
