<div class="card" style="width: 30%">
	<img class="card-img-top" src="assets/profile.svg" alt="Card image cap">
	<div class="centertext card-body">
		<h5 class="card-title">{{user.username}}</h5>
		<div class="centertext">
			<ul style="display: inline-block" class="list-group list-group-horizontal">
				<li style="float: left" class="list-group-item d-flex justify-content-between align-items-center">
					Friends
					<span class="counter badge bg-primary rounded-pill">14</span>
				</li>
				<li style="float: left" class="list-group-item d-flex justify-content-between align-items-center">
					Games played
					<span class="counter badge bg-primary rounded-pill">14</span>
				</li>
			</ul>
		</div>
		<button style="margin-right: 5px;" class="btn btn-success">Add friend</button>
		<button class="btn btn-danger">Edit profile</button>
	</div>
</div>

