<div class="card" style="margin: 5px;">
	<img style="margin-top: 5px;" width="200" height="200" class="card-img-top" src="assets/profile.svg"
		 alt="Card image cap">
	<div class="centertext card-body">
		<h5 class="card-title">{{user.username}}</h5>
		<div class="centertext">
			<ul style="display: inline-block" class="list-group list-group-horizontal">
				<li style="float: left" class="list-group-item d-flex justify-content-between align-items-center">
					Friends
					<span class="counter badge bg-primary rounded-pill">{{numberOfFriends}}</span>
				</li>
				<li style="float: left" class="list-group-item d-flex justify-content-between align-items-center">
					Games played
					<span class="counter badge bg-primary rounded-pill">{{numberOfGames}}</span>
				</li>
			</ul>
		</div>
		<button *ngIf="!owner" [class.disabled]="alreadySent" (click)="onAddFriend()" style="margin-right: 5px;"
				class="btn btn-success">{{addFriendButtonText}}</button>
		<button *ngIf="owner" (click)="onEditProfile(editAccountModal)" class="btn btn-danger">Edit profile</button>
	</div>
</div>

<ng-template #editAccountModal>
	<div style="width: 98%; text-align: center;margin: 5px;">
		<h1 style="text-align: center;">Edit your account</h1>
		<div>
			<div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="passwordinput">
						<i class="bi bi-key"></i>
					</span>
					<input [(ngModel)]="newPassword" type="password" class="form-control" placeholder="New password"
						   aria-label="New password"
						   aria-describedby="passwordinput">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="passwordconfirminput">
						<i class="bi bi-check"></i>
					</span>
					<input [(ngModel)]="confirmPassword" type="password" class="form-control"
						   placeholder="Confirm password"
						   aria-label="Confirm password"
						   aria-describedby="passwordconfirminput">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="passwordcurrentinput">
						<i class="bi bi-key"></i>
					</span>
					<input [(ngModel)]="currentPassword" type="password" class="form-control"
						   placeholder="Current password"
						   aria-label="Current password"
						   aria-describedby="passwordcurrentinput">
				</div>
				<p *ngIf="showPasswordStatus"
				   [ngClass]="newPasswordError?'text-danger':'text-success'">{{passwordStatusMessage}}</p>
				<button (click)="onSavePassword()" class="btn btn-primary">Save Password</button>
			</div>
		</div>
	</div>

</ng-template>
