<div>
	<div class="container" *ngIf="!usernameEmpty">
		<div class="row">
			<div class="col-sm" *ngIf="owner">
				<app-invites [games]="games" [user]="profile!.user"></app-invites>
			</div>
			<div class="col-sm">
				<app-profile-card [numberOfGames]="numberOfGames" [owner]="owner"
								  [user]="profile!.user"></app-profile-card>
				<app-comment-list [owner]="owner" profileId="{{profile!.profileId}}"
								  [comments]="profile!.comments"></app-comment-list>
			</div>
			<div class="col-sm">
				<app-friend-list [codes]="codes" [owner]="owner" [friends]="profile!.user.friends"></app-friend-list>
			</div>
		</div>
	</div>
	<div *ngIf="usernameEmpty" class="text-center m-5">
		<h1 class="display-1">You must be logged in to view your profile</h1>
	</div>
</div>

<!--<div>-->
<!--	<div class="container" *ngIf="!usernameEmpty">-->
<!--		<div class="row">-->
<!--			<div class="col-sm-4" *ngIf="owner" style="float:left;">-->
<!--				<app-invites [games]="games" [user]="profile!.user"></app-invites>-->
<!--			</div>-->
<!--			<div class="col-sm-4">-->
<!--				<app-profile-card [numberOfGames]="numberOfGames" [owner]="owner"-->
<!--								  [user]="profile!.user"></app-profile-card>-->
<!--				<app-comment-list [owner]="owner" profileId="{{profile!.profileId}}"-->
<!--								  [comments]="profile!.comments"></app-comment-list>-->
<!--			</div>-->
<!--			<div class="col-sm-4">-->
<!--				<app-friend-list [codes]="codes" [owner]="owner" [friends]="profile!.user.friends"></app-friend-list>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div *ngIf="usernameEmpty" class="text-center m-5">-->
<!--		<h1 class="display-1">You must be logged in to view your profile</h1>-->
<!--	</div>-->
<!--</div>-->
