<div style="width: 30%; text-align: center;margin: 5px;">
	<h1 style="text-align: center;">Edit your account</h1>
	<div style="display: flex;">
		<div style="display: inline-block;margin-right: 10px;">
			<div class="input-group mb-3">
			<span class="input-group-text" id="emailinput">
				<i class="bi bi-envelope"></i>
			</span>
				<input type="text" class="form-control" placeholder="New email" aria-label="New email"
					   aria-describedby="emailinput">
			</div>
			<div class="input-group mb-3">
			<span class="input-group-text" id="passwordconfirmemailinput">
				<i class="bi bi-check"></i>
			</span>
				<input type="password" class="form-control" placeholder="Current password"
					   aria-label="Current password"
					   aria-describedby="passwordconfirmemailinput">
			</div>
			<button class="btn btn-primary">Save Email</button>
		</div>
		<div style="display: inline-block;">
			<div class="input-group mb-3">
			<span class="input-group-text" id="passwordinput">
				<i class="bi bi-key"></i>
			</span>
				<input type="password" class="form-control" placeholder="New password" aria-label="New password"
					   aria-describedby="passwordinput">
			</div>
			<div class="input-group mb-3">
		<span class="input-group-text" id="passwordconfirminput">
				<i class="bi bi-check"></i>
			</span>
				<input type="password" class="form-control" placeholder="Confirm password"
					   aria-label="Confirm password"
					   aria-describedby="passwordconfirminput">
			</div>
			<button class="btn btn-primary">Save Password</button>
		</div>
	</div>
</div>
