<div class="commentlist">
	<div *ngIf="!owner">
		<div class="input-group mb-3">
			<input [(ngModel)]="content" type="text" class="form-control" placeholder="Enter comment here"
				   aria-describedby="basic-addon2">
			<div class="input-group-append">
				<button (click)="onAddComment()" class="btn btn-primary" type="button">Add comment</button>
			</div>
		</div>
		<div>
			<p class="text-danger text-center" *ngIf="error">{{errorMessage}}</p>
		</div>
	</div>
	<div>
		<ul class="list-group">
			<li class="list-group-item active">Comments</li>
		</ul>
	</div>
	<div>
		<ul class="scroll list-group">
			<li *ngFor="let comment of comments">
				<div>
					<app-comment [comment]="comment"></app-comment>
				</div>
			</li>
		</ul>
	</div>
</div>
